config:
  validation: true
  warningsAsErrors: false
  checkExhaustiveness: false
  # when writing own rules with new properties, exclude the property path e.g.: ['my_rule_set', '.*>.*>[my_property]']
  excludes: [ ]

processors:
  active: true
  exclude:
    - 'DetektProgressListener'
  # - 'KtFileCountProcessor'
  # - 'PackageCountProcessor'
  # - 'ClassCountProcessor'
  # - 'FunctionCountProcessor'
  # - 'PropertyCountProcessor'
  # - 'ProjectComplexityProcessor'
  # - 'ProjectCognitiveComplexityProcessor'
  # - 'ProjectLLOCProcessor'
  # - 'ProjectCLOCProcessor'
  # - 'ProjectLOCProcessor'
  # - 'ProjectSLOCProcessor'
  # - 'LicenseHeaderLoaderExtension'

console-reports:
  active: true
  exclude:
    - 'ProjectStatisticsReport'
    - 'ComplexityReport'
    - 'NotificationReport'
    - 'IssuesReport'
    - 'FileBasedIssuesReport'
  #  - 'LiteIssuesReport'

comments:
  active: true

complexity:
  active: false

coroutines:
  active: true

empty-blocks:
  active: true

exceptions:
  active: true

naming:
  active: true
  FunctionNaming:
    active: true
    functionPattern: '[a-z][a-zA-Z0-9]*'
    ignoreAnnotated: [ 'Composable' ]
  TopLevelPropertyNaming:
    active: true
    constantPattern: '[A-Z][_A-Za-z0-9]*'
  MatchingDeclarationName:
    multiplatformTargets: ['ios', 'android', 'js', 'desktop', 'native', 'iosArm64', 'iosX64', 'macosX64', 'mingwX64', 'linuxX64']

performance:
  active: true

potential-bugs:
  active: true

style:
  active: true
  MagicNumber:
    ignoreNumbers: ['-1', '-0.5', '0', '0.01', '0.5', '1', '2']
    ignoreAnnotation: true
    ignoreEnums: true
    ignoreRanges: true
    ignorePropertyDeclaration: true
  UnusedPrivateFunction:
    active: true
    ignoreAnnotated: [ 'Preview', 'Provides' ]
  ReturnCount:
    max: 3
  UnusedPrivateProperty:
    active: false # TODO バグ？
    allowedNames: 'ignored|expected|serialVersionUID|bind'
  MaxLineLength:
    active: false

Compose:
  ComposableAnnotationNaming:
    active: true
  ComposableNaming:
    active: true
  ComposableParamOrder:
    active: true
  CompositionLocalAllowlist:
    active: true
  CompositionLocalNaming:
    active: true
  ContentEmitterReturningValues:
    active: true
  ContentSlotReused:
    active: true
  ContentTrailingLambda:
    active: true
  DefaultsVisibility:
    active: true
  LambdaParameterEventTrailing:
    active: true
  LambdaParameterInRestartableEffect:
    active: true
  Material2:
    active: false
  ModifierClickableOrder:
    active: true
  ModifierComposed:
    active: true
  ModifierMissing:
    active: true
  ModifierNaming:
    active: true
  ModifierNotUsedAtRoot:
    active: true
  ModifierReused:
    active: true
  ModifierWithoutDefault:
    active: true
  MultipleEmitters:
    active: true
  MutableParams:
    active: true
  MutableStateAutoboxing:
    active: true
  MutableStateParam:
    active: true
  ParameterNaming:
    active: true
  PreviewAnnotationNaming:
    active: true
  PreviewNaming:
    active: false
  PreviewPublic:
    active: true
  RememberContentMissing:
    active: true
  RememberMissing:
    active: true
  UnstableCollections:
    active: false
  ViewModelForwarding:
    active: true
  ViewModelInjection:
    active: true

ktlint:
  active: true
  code_style: 'android_studio'
  autoCorrect: true

  MaximumLineLength:
    active: false
  PropertyName:
    constantNamingStyle: 'pascal_case'
  TrailingCommaOnCallSite:
    useTrailingCommaOnCallSite: true
  TrailingCommaOnDeclarationSite:
    useTrailingCommaOnDeclarationSite: true
