name: Deploy Dokka and static content to Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pages: write
  id-token: write
  pull-requests: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Setup Java
        uses: ./.github/actions/setup-java-gradle
      - name: Generage Dokka
        run: ./gradlew dokkaGenerate
      - uses: actions/upload-artifact@v4
        id: artifact-upload-step
        with:
          name: kdoc-html
          include-hidden-files: true
          path: |
            build/dokka/html/
            docs/
          retention-days: 1

  jekyll-build:
    runs-on: ubuntu-latest
    needs: generate
    steps:
      - name: Download KDoc artifact
        uses: actions/download-artifact@v5
        with:
          name: kdoc-html
      - name: Move dokka html to root dokka/
        run: |
          mkdir -p dokka
          cp -a build/dokka/html/. dokka/
          rm -rf build
      - name: Move docs to root
        run: |
          cp -a docs/. ./
          rm -rf docs
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./
      - name: Archive artifact
        shell: sh
        run: |
          echo "::group::Archive artifact"
          tar \
            --dereference --hard-dereference \
            --directory "_site" \
            -cvf "$RUNNER_TEMP/artifact.tar" \
            --exclude=.git \
            --exclude=.github \
            .
          echo "::endgroup::"
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: ${{ runner.temp }}/artifact.tar
          retention-days: 1
          if-no-files-found: error
  deploy:
    needs: jekyll-build
    permissions:
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
