name: Test
on:
  workflow_call:

jobs:

  test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup JDK and Gradle
        uses: ./.github/actions/setup-java-gradle
      - name: Run Unit Tests
        run: ./gradlew allTests pixel9api35Check --continue
      - if: cancelled() != true
        uses: dorny/test-reporter@v2
        with:
          name: 'Unit Test'
          path: '**/build/test-results/*/TEST-*.xml'
          reporter: 'java-junit'
          fail-on-error: false
