name: Test
on:
  workflow_call:

jobs:

  test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup JDK and Gradle
        uses: ./.github/actions/setup-java-gradle
      - name: Run Unit Tests
        run: ./gradlew allTests
